USE [master]
GO

/****** Object:  Database [TravelCompanyDB]    Script Date: 3/26/2026 1:04:52 AM ******/
CREATE DATABASE [TravelCompanyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelCompanyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TravelCompanyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelCompanyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TravelCompanyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelCompanyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelCompanyDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LicenseNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingCode] [varchar](20) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TourId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[NumPersons] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancelReason] [nvarchar](500) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ScheduleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](500) NULL,
	[PassportNo] [nvarchar](50) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinations]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinations](
	[DestinationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DestinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TransactionRef] [nvarchar](100) NULL,
	[PaidAt] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePerm] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourAssignments]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourAssignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[ScheduleId] [int] NULL,
	[VehicleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourGuideAssignments]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourGuideAssignments](
	[GuideAssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GuideAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourId] [int] IDENTITY(1,1) NOT NULL,
	[TourCode] [varchar](20) NOT NULL,
	[TourName] [nvarchar](200) NOT NULL,
	[DestinationId] [int] NOT NULL,
	[DurationDays] [int] NOT NULL,
	[PricePerPerson] [decimal](18, 2) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[AvailableSlots] [int] NOT NULL,
	[DepartureDate] [date] NOT NULL,
	[ReturnDate]  AS (dateadd(day,[DurationDays]-(1),[DepartureDate])) PERSISTED,
	[Description] [nvarchar](2000) NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourSchedules]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourSchedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[TourTemplateId] [int] NOT NULL,
	[DepartureDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[AvailableSlots] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourTemplates]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourTemplates](
	[TourTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[TourCode] [varchar](20) NOT NULL,
	[TourName] [nvarchar](200) NOT NULL,
	[DestinationId] [int] NOT NULL,
	[DurationDays] [int] NOT NULL,
	[PricePerPerson] [decimal](18, 2) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourVehicles]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourVehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[ScheduleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 3/26/2026 1:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[PlateNumber] [varchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](255) NULL,
	[DriverId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [Username], [PasswordHash], [FullName], [Email], [RoleId], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt], [IsDeleted], [LicenseNumber]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'System Admin', N'admin@travel.com', 1, 1, NULL, CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), 0, NULL)
INSERT [dbo].[Accounts] ([AccountId], [Username], [PasswordHash], [FullName], [Email], [RoleId], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt], [IsDeleted], [LicenseNumber]) VALUES (2, N'manager1', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'John Manager', N'manager@travel.com', 2, 1, NULL, CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), 0, NULL)
INSERT [dbo].[Accounts] ([AccountId], [Username], [PasswordHash], [FullName], [Email], [RoleId], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt], [IsDeleted], [LicenseNumber]) VALUES (3, N'staff1', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Alice Staff', N'staff@travel.com', 3, 1, NULL, CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [BookingCode], [CustomerId], [TourId], [AccountId], [NumPersons], [TotalAmount], [BookingDate], [Status], [CancelledAt], [CancelReason], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted], [ScheduleId]) VALUES (1, N'BK002', 2, 2, 3, 3, CAST(16500000.00 AS Decimal(18, 2)), CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), N'Confirmed', NULL, NULL, NULL, CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), 0, 3)
INSERT [dbo].[Bookings] ([BookingId], [BookingCode], [CustomerId], [TourId], [AccountId], [NumPersons], [TotalAmount], [BookingDate], [Status], [CancelledAt], [CancelReason], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted], [ScheduleId]) VALUES (2, N'BK003', 3, 3, 3, 1, CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), N'Completed', NULL, NULL, NULL, CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), CAST(N'2026-03-24T22:13:59.5248431' AS DateTime2), 0, 4)
INSERT [dbo].[Bookings] ([BookingId], [BookingCode], [CustomerId], [TourId], [AccountId], [NumPersons], [TotalAmount], [BookingDate], [Status], [CancelledAt], [CancelReason], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted], [ScheduleId]) VALUES (3, N'BK004', 4, 1, 3, 4, CAST(14000000.00 AS Decimal(18, 2)), CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), N'Confirmed', NULL, NULL, NULL, CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), CAST(N'2026-03-24T21:17:54.0900000' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [DateOfBirth], [Address], [PassportNo], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Trần Minh Nam', N'0987654321', N'namtran@gmail.com', CAST(N'1998-05-20' AS Date), N'Hà Nội, Việt Nam', N'P12345678', N'Khách VIP', CAST(N'2026-03-24T21:17:54.0800000' AS DateTime2), CAST(N'2026-03-24T21:17:54.0800000' AS DateTime2), 0)
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [DateOfBirth], [Address], [PassportNo], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'Michael Nguyen', N'0911111111', N'michael@gmail.com', CAST(N'1995-01-01' AS Date), N'Hanoi', NULL, NULL, CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [DateOfBirth], [Address], [PassportNo], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Sarah Tran', N'0922222222', N'sarah@gmail.com', CAST(N'1996-02-02' AS Date), N'Ho Chi Minh City', NULL, NULL, CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Destinations] ON 

INSERT [dbo].[Destinations] ([DestinationId], [Name], [Country], [Region], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Đà Nẵng', N'Việt Nam', N'Miền Trung', N'Thành phố biển đẹp nổi tiếng', CAST(N'2026-03-24T21:17:54.0800000' AS DateTime2), CAST(N'2026-03-25T23:53:35.5500000' AS DateTime2), 1)
INSERT [dbo].[Destinations] ([DestinationId], [Name], [Country], [Region], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'Da Nang', N'Vietnam', N'Central', N'Famous coastal city', CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), 0)
INSERT [dbo].[Destinations] ([DestinationId], [Name], [Country], [Region], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Phu Quoc', N'Vietnam', N'South', N'Beautiful island destination', CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), CAST(N'2026-03-24T21:17:54.0833333' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Destinations] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [Module], [Action], [Description]) VALUES (1, N'Tour_Create', N'Tour', N'Create', NULL)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [Module], [Action], [Description]) VALUES (2, N'Tour_Read', N'Tour', N'Read', NULL)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [Module], [Action], [Description]) VALUES (3, N'Tour_Update', N'Tour', N'Update', NULL)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Admin', N'Toàn quyền hệ thống', CAST(N'2026-03-24T21:17:54.0100000' AS DateTime2), CAST(N'2026-03-24T21:17:54.0100000' AS DateTime2), 0)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'Manager', N'Quản lý khách hàng, xem báo cáo', CAST(N'2026-03-24T21:17:54.0100000' AS DateTime2), CAST(N'2026-03-24T21:17:54.0100000' AS DateTime2), 0)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Staff', N'Tạo booking, không xóa tour', CAST(N'2026-03-24T21:17:54.0100000' AS DateTime2), CAST(N'2026-03-24T21:17:54.0100000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TourGuideAssignments] ON 

INSERT [dbo].[TourGuideAssignments] ([GuideAssignmentId], [ScheduleId], [AccountId], [CreatedAt]) VALUES (2, 7, 8, CAST(N'2026-03-26T00:48:40.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[TourGuideAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([TourId], [TourCode], [TourName], [DestinationId], [DurationDays], [PricePerPerson], [MaxCapacity], [AvailableSlots], [DepartureDate], [Description], [ThumbnailUrl], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'TOUR001', N'Tour Đà Nẵng 3N2Đ', 1, 3, CAST(3500000.00 AS Decimal(18, 2)), 20, 7, CAST(N'2026-03-25' AS Date), NULL, NULL, N'Active', CAST(N'2026-03-24T21:17:54.0800000' AS DateTime2), CAST(N'2026-03-25T22:05:58.5033333' AS DateTime2), 0)
INSERT [dbo].[Tours] ([TourId], [TourCode], [TourName], [DestinationId], [DurationDays], [PricePerPerson], [MaxCapacity], [AvailableSlots], [DepartureDate], [Description], [ThumbnailUrl], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'TOUR002', N'Phu Quoc Island Tour 4D3N', 2, 4, CAST(5500000.00 AS Decimal(18, 2)), 25, 25, CAST(N'2026-04-05' AS Date), N'Island exploration', NULL, N'Active', CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
INSERT [dbo].[Tours] ([TourId], [TourCode], [TourName], [DestinationId], [DurationDays], [PricePerPerson], [MaxCapacity], [AvailableSlots], [DepartureDate], [Description], [ThumbnailUrl], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'TOUR003', N'Sapa Mountain Tour 2D1N', 3, 2, CAST(2500000.00 AS Decimal(18, 2)), 15, 15, CAST(N'2026-04-10' AS Date), N'Trekking and nature', NULL, N'Active', CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[TourSchedules] ON 

INSERT [dbo].[TourSchedules] ([ScheduleId], [TourTemplateId], [DepartureDate], [ReturnDate], [AvailableSlots], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 1, CAST(N'2026-03-25' AS Date), CAST(N'2026-03-27' AS Date), 7, N'Active', CAST(N'2026-03-24T21:17:54.0800000' AS DateTime2), CAST(N'2026-03-25T22:05:58.5033333' AS DateTime2), 0)
INSERT [dbo].[TourSchedules] ([ScheduleId], [TourTemplateId], [DepartureDate], [ReturnDate], [AvailableSlots], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 1, CAST(N'2026-03-28' AS Date), CAST(N'2026-03-30' AS Date), 20, N'Completed', CAST(N'2026-03-25T22:12:47.3233333' AS DateTime2), CAST(N'2026-03-25T23:29:20.1768607' AS DateTime2), 0)
INSERT [dbo].[TourSchedules] ([ScheduleId], [TourTemplateId], [DepartureDate], [ReturnDate], [AvailableSlots], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 2, CAST(N'2026-04-05' AS Date), CAST(N'2026-04-08' AS Date), 25, N'Active', CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[TourSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[TourTemplates] ON 

INSERT [dbo].[TourTemplates] ([TourTemplateId], [TourCode], [TourName], [DestinationId], [DurationDays], [PricePerPerson], [MaxCapacity], [Description], [ThumbnailUrl], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'TOUR001', N'Tour Đà Nẵng 3N2Đ', 1, 3, CAST(3500000.00 AS Decimal(18, 2)), 20, NULL, NULL, CAST(N'2026-03-24T21:17:54.0800000' AS DateTime2), CAST(N'2026-03-25T23:30:46.1126918' AS DateTime2), 1)
INSERT [dbo].[TourTemplates] ([TourTemplateId], [TourCode], [TourName], [DestinationId], [DurationDays], [PricePerPerson], [MaxCapacity], [Description], [ThumbnailUrl], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'TOUR002', N'Phu Quoc Island Tour 4D3N', 2, 4, CAST(5500000.00 AS Decimal(18, 2)), 25, N'Island exploration', NULL, CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
INSERT [dbo].[TourTemplates] ([TourTemplateId], [TourCode], [TourName], [DestinationId], [DurationDays], [PricePerPerson], [MaxCapacity], [Description], [ThumbnailUrl], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'TOUR003', N'Sapa Mountain Tour 2D1N', 3, 2, CAST(2500000.00 AS Decimal(18, 2)), 15, N'Trekking and nature', NULL, CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), CAST(N'2026-03-24T21:17:54.0866667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[TourTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[TourVehicles] ON 

INSERT [dbo].[TourVehicles] ([Id], [TourId], [VehicleId], [ScheduleId]) VALUES (1, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[TourVehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleId], [PlateNumber], [Capacity], [Status], [Notes], [DriverId]) VALUES (1, N'29A-12345', 4, N'Available', N'Toyota Vios', NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [PlateNumber], [Capacity], [Status], [Notes], [DriverId]) VALUES (2, N'30A-67890', 7, N'Available', N'Toyota Innova', NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [PlateNumber], [Capacity], [Status], [Notes], [DriverId]) VALUES (3, N'30B-22222', 16, N'Busy', N'Ford Transit', NULL)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E4B8A976E2]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__A9D105348D690472]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Accounts_Email]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_Email] ON [dbo].[Accounts]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_RoleId]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_RoleId] ON [dbo].[Accounts]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bookings__C6E56BD5EB1A4A7C]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Bookings] ADD UNIQUE NONCLUSTERED 
(
	[BookingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Customer]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Customer] ON [dbo].[Bookings]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Date]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Date] ON [dbo].[Bookings]
(
	[BookingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Status]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Status] ON [dbo].[Bookings]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Tour]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Tour] ON [dbo].[Bookings]
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__5C7E359EE25DF5EA]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_FullName]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_FullName] ON [dbo].[Customers]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Phone]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Phone] ON [dbo].[Customers]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Booking]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Booking] ON [dbo].[Payments]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Date]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Date] ON [dbo].[Payments]
(
	[PaymentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357B0C0FDA7]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Perm_Module_Action]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [UQ_Perm_Module_Action] UNIQUE NONCLUSTERED 
(
	[Module] ASC,
	[Action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61604CE1E040]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Tour_Driver]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[TourAssignments] ADD  CONSTRAINT [UQ_Tour_Driver] UNIQUE NONCLUSTERED 
(
	[TourId] ASC,
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GuideSchedule]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[TourGuideAssignments] ADD  CONSTRAINT [UQ_GuideSchedule] UNIQUE NONCLUSTERED 
(
	[ScheduleId] ASC,
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tours_Code]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tours_Code] ON [dbo].[Tours]
(
	[TourCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tours_DepartureDate]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tours_DepartureDate] ON [dbo].[Tours]
(
	[DepartureDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tours_Destination]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tours_Destination] ON [dbo].[Tours]
(
	[DestinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tours_Name]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tours_Name] ON [dbo].[Tours]
(
	[TourName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tours_Price]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tours_Price] ON [dbo].[Tours]
(
	[PricePerPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tours_Status]    Script Date: 3/26/2026 1:04:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tours_Status] ON [dbo].[Tours]
(
	[Status] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TourTemp__1982F8D035800A86]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[TourTemplates] ADD UNIQUE NONCLUSTERED 
(
	[TourCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__036926245AE80FAA]    Script Date: 3/26/2026 1:04:53 AM ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Destinations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Destinations] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Destinations] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TourGuideAssignments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TourTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourTemplates] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TourTemplates] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Acc_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Acc_Role]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Account]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Customer]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Tour] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Tour]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Schedule] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[TourSchedules] ([ScheduleId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Schedule]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Pay_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Pay_Booking]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RP_Perm] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RP_Perm]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RP_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RP_Role]
GO
ALTER TABLE [dbo].[TourAssignments]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[TourAssignments]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TourAssign_Vehicle] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
GO
ALTER TABLE [dbo].[TourAssignments] CHECK CONSTRAINT [FK_TourAssign_Vehicle]
GO
ALTER TABLE [dbo].[TourGuideAssignments]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[TourGuideAssignments]  WITH CHECK ADD FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[TourSchedules] ([ScheduleId])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Dest] FOREIGN KEY([DestinationId])
REFERENCES [dbo].[Destinations] ([DestinationId])
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tour_Dest]
GO
ALTER TABLE [dbo].[TourSchedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Template] FOREIGN KEY([TourTemplateId])
REFERENCES [dbo].[TourTemplates] ([TourTemplateId])
GO
ALTER TABLE [dbo].[TourSchedules] CHECK CONSTRAINT [FK_Schedule_Template]
GO
ALTER TABLE [dbo].[TourTemplates]  WITH CHECK ADD  CONSTRAINT [FK_Template_Destination] FOREIGN KEY([DestinationId])
REFERENCES [dbo].[Destinations] ([DestinationId])
GO
ALTER TABLE [dbo].[TourTemplates] CHECK CONSTRAINT [FK_Template_Destination]
GO
ALTER TABLE [dbo].[TourVehicles]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourVehicles]  WITH CHECK ADD FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Driver] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicle_Driver]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([NumPersons]>(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='Completed' OR [Status]='Cancelled' OR [Status]='Confirmed'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([TotalAmount]>(0)))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  ((NOT [Phone] like '%[^0-9+]%'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='EWallet' OR [PaymentMethod]='Card' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Failed' OR [Status]='Refunded' OR [Status]='Paid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([AvailableSlots]>=(0)))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([DurationDays]>(0)))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([MaxCapacity]>(0)))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([PricePerPerson]>(0)))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [CK_Slots_Cap] CHECK  (([AvailableSlots]<=[MaxCapacity]))
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [CK_Slots_Cap]
GO
ALTER TABLE [dbo].[TourTemplates]  WITH CHECK ADD CHECK  (([DurationDays]>(0)))
GO
ALTER TABLE [dbo].[TourTemplates]  WITH CHECK ADD CHECK  (([MaxCapacity]>(0)))
GO
ALTER TABLE [dbo].[TourTemplates]  WITH CHECK ADD CHECK  (([PricePerPerson]>(0)))
GO
USE [master]
GO
